{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex bg-primary-100 pt-2 md:pt-8 pb-2 md:pb-8 w-full h-full flex-col">

    <div class="w-full h-10vh md:h-20vh flex p-4 md:p-0  flex-col items-center justify-around">
        <h1 class="text-5xl font-bold">Accommodations</h1>
      <p class="py-6 w-[80%]">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae.
      </p>
    </div>

    <div class="card w-full rounded-box grid h-fit place-items-center">

        <div class="flex w-full flex-col lg:flex-row">
          <a href="{% url 'room-details' %}">
            <div class="card  rounded-box grid h-fit grow place-items-center"><div class="card bg-base-100 w-96 shadow-sm">
                <div class="card-body">
                  <h2 class="card-title text-2xl">Standard Block</h2> 
                  <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                </div>
                <figure>
                  <img 
                    src="{% static 'pictures/rooms/standard_cover.jpeg' %}"
                    alt="Shoes" />
                </figure>
              </div></a><a  href="{% url 'room-details' %}" class="btn mt-2 md:mt-4 w-[60%] btn-primary text-base-100">Reserve Now</a></div>

            <div class="divider lg:divider-horizontal"></div>
            <div class="card rounded-box grid h-fit  grow place-items-center"><div class="card bg-base-100 w-96 shadow-sm">
                <div class="card-body">
                  <h2 class="card-title text-2xl">Anchan Block</h2>
                  <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                </div>
                <figure>
                  <img
                    src="{% static 'pictures/rooms/anchan_cover.jpeg' %}"
                    alt="Shoes" />
                </figure>
              </div><a class="btn mt-2 md:mt-4 w-[60%] btn-primary text-base-100">Reserve Now</a></div>

              <div class="divider lg:divider-horizontal"></div>
              <div class="card rounded-box grid h-fit grow place-items-center"><div class="card bg-base-100 w-96 shadow-sm">
                  <div class="card-body">
                    <h2 class="card-title text-2xl">Anchan Block</h2>
                    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
                  </div>
                  <figure>
                    <img
                      src="{% static 'pictures/rooms/anchan_cover.jpeg' %}"
                      alt="Shoes" />
                  </figure>
                </div><a class="btn mt-2 md:mt-4 w-[60%] btn-primary text-base-100">Reserve Now</a></div>
          </div>

    </div>
   
  </div>
{% endblock %}