{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="flex bg-primary-100 pt-2 md:pt-8 pb-2 md:pb-8 w-full h-full flex-col">

    <div class="w-full h-10vh md:h-20vh flex flex-col items-center justify-around">
        <h1 class="text-5xl font-bold">Contact Us</h1>
      <p class="py-6 w-[80%]">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae.
      </p>
    </div>









</div>


{% endblock %}