{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="flex bg-primary-100 pt-2 md:pt-8 pb-2 md:pb-8 w-full h-full flex-col">

    <div class="w-full h-10vh md:h-20vh flex p-4 md:p-0 flex-col items-center justify-around">
        <h1 class="text-5xl font-bold">{{meetingspage.name}}</h1>
        <p class="py-6 w-[80%]">{{meetingspage.desc}}</p>
    </div>

    <div class="w-full h-[50vh] md:h-[100vh] overflow-hidden">
        <img src="/media/{{meetingspage.image1}}" width="100%" alt="">
    </div>

    <div class="w-full flex justify-center items-center md:absolute top-[80%]">
        <div class="w-[95%] md:w-[80%] bg-primary rounded-3xl opacity-75 py-8 px-2 md:px-8 flex justify-center items-center shadow-2xl">
            <form class="join p-2 flex flex-col md:flex-row md:flex-wrap w-full gap-0 md:gap-2" autocomplete="off" method="post">
                {% csrf_token %}
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Full Name</legend>
                    <input type="text" name="name" class="input rounded-2xl mt-1 w-full" placeholder="Full Name" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Email</legend>
                    <input type="email" name="email" class="input rounded-2xl mt-1 w-full" placeholder="Email" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Address</legend>
                    <input type="text" name="address" class="input rounded-2xl mt-1 w-full" placeholder="Address" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Phone</legend>
                    <input type="tel" name="phone" class="input rounded-2xl mt-1 w-full" placeholder="Phone" pattern="[0-9]{10,15}" title="Enter a valid phone number" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Event Date Time</legend>
                    <input type="datetime-local" name="datetime" class="input rounded-2xl mt-1 w-full" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px]">
                    <legend class="fieldset-legend text-base-100 ml-2">Event Duration</legend>
                    <input type="number" name="hours" min="1" max="12" value="1" class="input mt-1 rounded-2xl md:ml-1" required />
                </fieldset>
                <fieldset class="fieldset flex-1 min-w-[220px] md:col-span-2">
                    <legend class="fieldset-legend text-base-100 ml-2">Additional Info</legend>
                    <textarea name="info" class="input rounded-2xl mt-1 w-full" placeholder="Additional Info" ></textarea>
                </fieldset>
                <div class="flex justify-center w-full mt-4">
                    <button type="submit" class="btn join-item rounded-2xl px-8">Reserve Now</button>
                </div>
            </form>
        </div>
    </div>

    <div class="w-[100%] h-fit flex flex-col items-center justify-center mt-2 md:mt-8">
      <h2 class="text-4xl font-bold underline">{{meetingspage.heading2}}</h2>

    <div class="carousel mt-2 md:mt-6 rounded-box w-[90%] h-auto md:w-[70%] md:h-[60vh]">
        <div class="carousel-item w-1/2">
          <img
            src="/media/{{meetingspage.image2}}"
            class="w-full" />
        </div>
        <div class="carousel-item w-1/2">
          <img
          src="/media/{{meetingspage.image3}}"
            class="w-full" />
        </div>
        <div class="carousel-item w-1/2">
          <img
          src="/media/{{meetingspage.image4}}"
            class="w-full" />
        </div>
        <div class="carousel-item w-1/2">
          <img
          src="/media/{{meetingspage.image1}}"
            class="w-full" />
        </div>
        <div class="carousel-item w-1/2">
          <img
          src="/media/{{meetingspage.image2}}"
            class="w-full" />
        </div>
       
      </div>
</div>


</div>

{% endblock %}