{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="flex bg-primary-100 pt-2 md:pt-8 pb-2 md:pb-8 w-full h-full flex-col">

    <div class="w-full h-10vh md:h-20vh flex  p-4 md:p-0  flex-col items-center justify-around">
        <h1 class="text-5xl font-bold">{{ restaurant.name }}</h1>
      <p class="py-6 w-[80%]">
       {{ restaurant.desc }}
      </p>
      <div class="w-[80%] h-fit flex justify-end"><a href="{% url 'reserve_table' %}"><button class="btn btn-primary text-base-100">Reserve Table</button></a></div>
       
    </div>

    {% for special_dish in special_dishes %}

    <div class="flex w-full items-center h-fit flex-col">
      
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
            <div class="hero bg-primary-200 min-h-[50vh]">
                <div class="hero-content flex-col lg:flex-row-reverse">
                  <img
                    src="/media/{{ special_dish.image }}"
                    class="max-w-sm rounded-lg shadow-2xl"
                  />
                  <div>
                    <p class="py-2 font-bold">Our Special Dish Right Now!</p>
                    <h1 class="text-5xl font-bold">{{ special_dish.name}}</h1>
                    <p class="py-6">{{ special_dish.desc }}</p>
                   
                  </div>
                </div>
              </div>
        </div>
            
      </div>
       {% endfor %}

      {% for dish in dishes %} 
      <div class="divider"></div>
      <div class="flex w-full items-center h-fit flex-col">
        <div class="card bg-primary-300 w-[90%] py-6 rounded-box grid h-fit place-items-center">
            <div class="hero bg-primary-200 min-h-[50vh]">
                <div class="hero-content flex-col lg:flex-row">
                  <img
                  src="/media/{{dish.image1}}"
                    class="max-w-sm rounded-lg shadow-2xl"
                  />
                  <div>
                    <h1 class="text-5xl font-bold">{{dish.name}} dishes</h1>
                    <p class="py-6">{{dish.desc}}</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="divider"></div>
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
          <h1 class="text-4xl font-bold py-6">Check Out Our Varities in {{dish.name}} Meals.</h1>
            <div class="carousel rounded-box">
                <div class="carousel-item w-fit">
                  <img
                    src="/media/{{dish.image2}}"
                    alt="Soup"
                    class="w-[70vw] md:w-[30vw]" />
                </div>
                <div class="carousel-item">
                  <img
                    src="/media/{{dish.image3}}"
                    alt="Soup"
                    class="w-[70vw] md:w-[30vw]" />
                </div>
                <div class="carousel-item">
                  <img
                    src="/media/{{dish.image4}}"
                    alt="Soup"
                    class="w-[70vw] md:w-[30vw]" />
                </div>
                <div class="carousel-item">
                  <img
                    src="/media/{{dish.image1}}"
                    alt="Soup"
                    class="w-[70vw] md:w-[30vw]" />
                </div>
                           
              </div>
        </div>
      </div>    
      {% endfor %}




</div>

{% endblock %}