{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="flex bg-primary-100 pt-2 md:pt-8 pb-2 md:pb-8 w-full h-full flex-col">

    <div class="w-full h-10vh md:h-20vh flex flex-col items-center justify-around">
        <h1 class="text-5xl font-bold">Restaurant</h1>
      <p class="py-6 w-[80%]">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae.
      </p>
    </div>

    <div class="flex w-full items-center h-fit flex-col">
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
            <div class="hero bg-primary-200 min-h-[50vh]">
                <div class="hero-content flex-col lg:flex-row-reverse">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                    class="max-w-sm rounded-lg shadow-2xl"
                  />
                  <div>
                    <h1 class="text-5xl font-bold">Box Office News!</h1>
                    <p class="py-6">
                      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                      quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p>
                    <button class="btn btn-primary">Get Started</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="divider"></div>
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
            <div class="carousel rounded-box">
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
                    alt="Burger" />
                </div>
              </div>
        </div>
      </div>

      <div class="flex w-full items-center h-fit flex-col">
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
            <div class="hero bg-primary-200 min-h-[50vh]">
                <div class="hero-content flex-col lg:flex-row">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                    class="max-w-sm rounded-lg shadow-2xl"
                  />
                  <div>
                    <h1 class="text-5xl font-bold">Box Office News!</h1>
                    <p class="py-6">
                      Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                      quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p>
                  </div>
                </div>
              </div>
        </div>
        <div class="divider"></div>
        <div class="card bg-primary-300 w-[90%] rounded-box grid h-fit place-items-center">
            <div class="carousel rounded-box">
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
                    alt="Burger" />
                </div>
                <div class="carousel-item">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
                    alt="Burger" />
                </div>
              </div>
        </div>
      </div>    





</div>

{% endblock %}